<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="header">
    <div id="logo">Logo</div>

    <div id="nav_btn">
        <button id="signup">Sign up</button>
        <button id="test2">Nothing</button>
    </div>
</div>
    {% block body %}
    {% endblock %}
</body>
<script src="../static/javascript/script.js"></script>
</html>