{% extends 'base.html' %}
{% block body %}
<div class="signlog_center">
    <div class="signlog_box">
        <h1>Login</h1>

        <form method="POST" class="signlog_content">
            <div class="form-row">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
            </div>
            
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>

            <input type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock %}