{% extends 'base.html' %}

{% block body %}
    <div class="signlog_center">
        <div class="signlog_box">
            <div class="signlog_content">
                <h2>Welcome to Dread Threads</h2>
                <p>Please log in or sign up to continue.</p>
                <div>
                    <button id="login" class="signlog_btn">Login</button>
                    <button id="signup" class="signlog_btn">Sign Up</button>
                </div>

            </div>
        </div>
        
    </div>
{% endblock %}