{% extends 'base.html' %}
{% block body %}
<h1>Our Products</h1>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
                <h2>{{ product.product_name }}</h2>
                <p>{{ product.description }}</p>
                <p><strong>${{ product.price }}</strong></p>
            </div>
        {% endfor %}
    </div>

    {% if session.admin == 'Yes' %}
        <form action="{{ url_for('add_product') }}" method="POST">
            <input type="text" name="product_name" placeholder="Product Name" required>
            <input type="text" name="description" placeholder="Description" required>
            <input type="number" name="price" placeholder="Price" required>
            <input type="text" name="image_url" placeholder="Image filename" required>
            <button type="submit">Add Product</button>
        </form>
    {% endif %}
{% endblock %}