{% extends 'base.html' %}
{% block body %}
<div class="product_header">
    <div class="product_h_content">
        <h1>Our Products</h1>

        {% if session.admin == 'Yes' %}
            <!-- Trigger Button -->
            <button id="popup_btn_opn">Open Popup</button>
        {% endif %}
    </div>

</div>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
                <h2>{{ product.product_name }}</h2>
                <p>{{ product.description }}</p>
                <p><strong>${{ product.price }}</strong></p>
            </div>
        {% endfor %}
    </div>

    {% if session.admin == 'Yes' %}


        <!-- Popup Content -->
        <div class="popup" id="popup">
               <h1>Add your product</h1>
               <button id="popup_btn_cls">X</button> 
            
            <form action="{{ url_for('add_product') }}" method="POST" class="popup_content">
                <div class="add_product_info">
                    <label for="product_name">Product name:</label>
                    <input type="text" name="product_name" placeholder="Product Name" required>
                </div>
                
                <div class="add_product_info">
                    <label for="description">Item description:</label>
                    <input type="text" name="description" placeholder="Description" required>
                </div>
                
                <div class="add_product_info">
                    <label for="price">Price:</label>
                    <input type="number" name="price" placeholder="Price" required>
                </div>

                <div class="add_product_info">
                    <label for="image_url">Image filename:</label>
                    <input type="text" name="image_url" placeholder="Image filename" required>
                </div>

                
                <button type="submit">Add Product</button>
            </form>
        </div>
    {% endif %}


{% endblock %}