{% extends 'base.html' %}
{% block body %}

<div class="signlog_center">
  <div class="signlog_box">
    <h1>Sign up</h1>

    <form method="POST" class="signlog_content">
      <div class="form-row">
        <label for="name">Name:</label> 
        <input type="text" name="name">
      </div>
      
      <div class="form-row">
        <label for="email">Email:</label>
        <input type="email" name="email">
      </div>

      <div class="form-row">
        <label for="password">Password:</label>
        <input type="password" name="password">
      </div>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</div>

{% endblock %}